<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%- include('partials/header.ejs') %>

    <title>Admin Modal</title>
</head>

<body>

    <div class="jumbotron">

        <div class="form-group">
            <div class="input-group">
                <button class="btn btn-primary" style="margin-right: 1%" onclick="generateNPC()">Spawn NPC</button>
                <select class="form-control" id="npcSelector">
                    <option value="" selected disabled hidden>-- Select NPC --</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <button class="btn btn-primary" style="margin-right: 1%" onclick="generateEncounter()">Spawn Encounter</button>
                <select class="form-control" id="encounterSelector">
                    <option value="" selected disabled hidden>-- Select Encounter --</option>
                    <option>Battle of X</option>
                    <option>3 Goblins, 1 Orc</option>
                </select>
            </div>
        </div>
        <button type="button" class="btn btn-primary" onclick="opener.startCombat()">Start Combat</button>
        <div id="content"></div>
    </div>

    <!--  -->



    <!--  -->
    <%- include('partials/scripts.ejs') %>

</body>

</html>

<script>

    $(document).ready(function () {
        getNPCIDs()
    })

    function getNPCIDs() {
        $.ajax({
            url: 'npcs/',
            type: 'GET',
            dataType: 'json',
            success: (npcs) => {
                let npcIDs = ""
                for (let npc of npcs) {
                    npcIDs += `<option value="${npc['id']}">${npc['id']}</option>`
                }
                let npcSelector = document.getElementById('npcSelector')
                if (npcSelector) {
                    npcSelector.innerHTML += npcIDs
                }
            }
        })
    }

    function generateNPC() {
        let npc = document.getElementById('npcSelector').value
        if (npc === '') {
            alert('NPC value has not been chosen.')
            return
        }
        window.opener.generateNPC(npc)
    }

    function generateEncounter(){
        let encounter = document.getElementById('encounterSelector').value
        if (encounter === ''){
            alert('Encounter value has not been chosen.')
            return
        }
        window.opener.generateEncounter(encounter)
    }

</script>