<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%- include('partials/header.ejs') %>

    <title>Sign Up</title>
</head>

<body>

    <form style="text-align: center; padding-top: 1%; padding-left: 2%; padding-right: 2%;" class="form-signin" action="/admin/signup" method="post">
        <h3>Create an Account</h3>
        <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Email address">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="displayName" placeholder="Display Name">
        </div>
        <div class="form-group">
            <input type="tel" class="form-control" name="phoneNumber" placeholder="+1-222-333-4444">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="photoURL" placeholder="Profile Image URL">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>

    <%- include('partials/scripts.ejs') %>
</body>

</html>