/* Book CSS */

.book-popup {
    position: fixed;
    display: none;
    z-index: 2;
    top: 50%;
    left: 50%;
}

.dim-screen {
    position: fixed;
    background: black;
    opacity: 0.6;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.book {
    position: absolute;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    perspective: 900px;
}

.book-bg img {
    filter: drop-shadow(15px 5px 5px black)
}

.class-img {
    position: absolute;
    width: 35.5%;
    height: 70%;
    top: 11%;
    left: 12%;
}

.class-img img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    opacity: 0.15;
}

.page {
    position: absolute;
    width: 41%;
    top: 5%;
    left: 50%;
    height: 85%;
    transition: 1s transform;
    transform-style: preserve-3d;
    transform-origin: left center;
}

.front,.back {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 87.5%;
    height: 87.5%;
    -webkit-transform-style: preserve-3d;
    background-image: url("../images/page.png");
    /* background-color: white; */
}

.back {
    transform: rotateY(180deg) scaleX(-1);
}

.back .page-title, .back .page-subtitle, .back .page-subclass {
    transform: scaleX(-1)
}

.page.flipped {
    transform: rotateY(-180deg);
}

.page.active {
    z-index: 1;
}

.page.flipped:last-of-type {
    z-index: 1;
}

.page-content {
    height: 100%;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    text-shadow: 2px 1.5px black;
}

/* .flip {
    transform: scaleX(-1)
} */

.page-title, .page-subtitle {
    color: white;
    text-align: center;
    font-family: 'MedievalSharp', cursive;
    text-shadow: 2px 1.5px black;
}

.page-title {
    font-size: 200%;
}

.page-subtitle {
    font-size: 175%;
}

.page button {
    width:100%;
    height:100%;
}

.page-class-features {
    transform: scaleX(-1);
    text-align: center;
}

/* Popover CSS */
.popover-italics {
    font-style: italic;
}
.popover {
    max-width: 30%;
}

.feature {
    font-weight: bold;
}

/* Overriding styling on bootstrap classes */
.page .col {
    margin-right: 0;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-bottom: 1.5%
}


