.row {
    margin-right: 0;
}

div {
    font-family: 'Oswald', sans-serif;  
}

h5 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

/* Override reboot.scss margin on p-tags */
p {
    color: white;
}

.card-img-top {
    width: 100%;
    height: 600px;
}

.card-img-top > img {
    border: 1px solid gray;
}

.progress {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
}

.card {
    position: relative;

    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;

    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.883) 0%, rgb(31, 35, 65) 100%);
    box-shadow: 0 4px 16px 0 rgba(0,0,0,.5);
    
}

.character-img-parent {
    margin-left: 10%;
    margin-right: 10%;
}

.character-desc {
    padding-top: 5%;
    text-align: center;
    font-family: 'MedievalSharp', cursive;  
}

.float-bar-tabs {
    position: absolute;
    right: 0;
    width: 5%;
    margin-top: 55%;
}

.float-bar-tabs > .btn {
    margin-top: 15%;
    border: 2.5px solid black;
}

.float-bar-dice {
    width: 15%;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: -2%;
    margin-bottom: -7.6%;
}

.float-bar-hitdice {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: -4%;
    margin-bottom: -2.5%;
}

/* Hide Card for Book Test */
.card {
    /* display: none; */
}

/* Book */

.dim-screen {
    position: fixed;
    background: black;
    opacity: 0.6;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.book {
    position: absolute;
    transform: translate(-50%, -50%);
}

.book img {
    filter: drop-shadow(15px 5px 5px black)
}

.book-popup {
    position: absolute;
    display: none;
    z-index: 100;
    top: 50%;
    left: 50%;
}

.page {
    position: absolute;
    width: 41%;
    top: 5%;
    left: 51%;
    height: 85%;
    border-style: double;
}

.page-front,.page-back {
    position: absolute;
    backface-visibility: hidden;
    transition: 1s;
    width: 100%;
    height: 100%;
}

.page .page-back {
    transform: rotateY(180deg);
}

.page.flip .page-back {
    transform: rotateY(0deg);
}

.page.flip .page-front {
    transform: rotateY(-180deg);
}



